h1 {
	margin: 5px 0 20px 0;
}
h2, h3 {
	margin: 10px 0 15px 0;
}
img {
	max-width: 100%;
}
pre {
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
}
pre > code {
	padding: 0;
}
table {
	border-spacing: 0;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	margin-top: 0.5em;
}
th, td {
	padding: 2px 5px;
}
a {
	color: #FF9137;
	text-decoration: none;
}
pre, code {
	font-family: "Source Code Pro";
	font-weight: normal;
}
pre {
	display: block;
	background-color: #f1f1f1;
	white-space: no-wrap;
	overflow-x: auto;
}
code {
	padding: 3px;
	overflow: auto;
	line-height: 1.45em;
	background-color: #f1f1f1;
	border-radius: 5px; color: #000000;
}
.code-comment {
	color: #75715E;
	font-style: italic;
}
.code-string {
	color: #E6DB74;
}
.code-literal {
	color: #AE81FF;
}
.code-type {
	color: #66D9EF;
}
.code-builtin {
	color: #A6E22E;
}
.code-keyword {
	color: #F92672;
}
.code-other {
	color: #F92672;
}
body {
	font-family: Cantarell;
	font-weight: normal;
	font-size: 11pt;
	max-width: 1080px;
	margin: 0 auto;
}
