[Unit]
Description=updating ntopng ipset from ntopng blacklists

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
AccuracySec = 1 hour

[Install]
WantedBy=timers.target
